@font-face {
    font-family: 'jumper_personal_use_onlyRg';
    src: url('jumperpersonaluseonlyregular-wyl3g-webfont.woff2') format('woff2'),
         url('jumperpersonaluseonlyregular-wyl3g-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}