/* Box sizing, margin and padding rules*/
*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline-color: transparent;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 1px solid black;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
ul {
  list-style: none;
}

html {
  scroll-padding-block-start: 5rem;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

/* Set core body defaults */
body {
  min-block-size: 100vh;
  inline-size: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* prevents outline on pseudo classes on anchor links */
a {
  text-decoration: none;
  color: inherit;
}

a:focus,
a:visited,
a:active {
  outline-color: transparent;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons and prevent blue highlight box */
input,
button,
textarea,
select,
a {
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  outline: transparent;
}

body {
  color: hsl(0, 0%, 100%);
  position: relative;
  background-color: hsl(230, 35%, 7%);
}

#app {
  padding-block-start: 5.5rem;
  min-height: 100vh;
}

#app:has(.header, .page) {
  display: flex;
}

.hr {
  display: none;
}

.nav .container {
  background-color: hsla(0, 0%, 100%, 0.04);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  --webkit-backdrop-filter: blur(20px);
  transition: translate 0.5s;
}

.translate {
  translate: 100% 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 0 1.5rem 3.625rem;
  min-block-size: 100%;
}
.page__heading {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.page__heading__number {
  padding-inline-end: 1.125rem;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.25);
}
.page__main__title {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.505);
  font-weight: 400;
}
.page__main__member-name {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.page__main__desc {
  padding-block-start: 1rem;
  font-size: 0.9375rem;
  color: hsl(231, 77%, 90%);
  line-height: 25px;
}

.page:has(.tech__section) {
  padding: 0 0 3.5rem;
}

@media (min-width: 767px) {
  body {
    position: static;
  }
  #app {
    padding-block-start: 6.5rem;
  }
  .translate {
    translate: 0;
  }
  .page {
    padding: 0 2.4063rem 3.875rem;
    gap: 3.75rem;
  }
  .page__heading {
    text-align: left;
  }
  .page__main__title {
    font-size: 1.5rem;
  }
  .page__main__member-name {
    font-size: 2.5rem;
  }
  .page__main__desc {
    font-size: 1rem;
  }
  .page:has(.crew__section) {
    padding: 0 2.4063rem 0;
  }
  .page:has(.tech__section) {
    width: 100%;
  }
}
@media (min-width: 1365px) {
  .hr {
    display: block;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.04);
    height: 1px;
    position: relative;
    inset-inline-start: 1rem;
    z-index: 101;
    border: 0;
  }
  .page {
    inline-size: 100%;
    padding: 4.75rem 10.1875rem 7.375rem;
  }
  .page__heading {
    font-size: 1.75rem;
    letter-spacing: 4.75px;
  }
  .page__main__title {
    font-size: 2rem;
  }
  .page__main__member-name {
    font-size: 3.5rem;
  }
  .page__main__desc {
    font-size: 1.125rem;
    padding-block-start: 1.6875rem;
    inline-size: 44ch;
  }
  .page:has(.crew__section) {
    padding: 0 10.1875rem 0;
    position: relative;
    justify-content: space-between;
    gap: 11rem;
  }
  .page:has(.tech__section) {
    padding-inline-start: 10.3125rem;
  }
}
.body {
  font-family: "Bellefair", serif;
}

.nav {
  font-family: "Barlow Condensed", sans-serif;
}
.nav__list__item {
  letter-spacing: 2.35px;
}
.nav__list__item__number {
  font-weight: 700;
}

.header__main__sub-head, .header__main__head {
  text-transform: uppercase;
}
.header__main__sub-head {
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35px;
  font-size: 1rem;
  color: hsl(231, 77%, 90%);
}
.header__main__head {
  font-size: 5rem;
  font-weight: 400;
}
.header__main__par {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  color: hsl(231, 77%, 90%);
}

.btn--header {
  font-size: 1.25rem;
  text-transform: uppercase;
}

@media (min-width: 767px) {
  .nav {
    font-size: 0.875rem;
  }
  .header__main__sub-head {
    font-size: 1.25rem;
  }
  .header__main__head {
    font-size: 9.375rem;
  }
  .header__main__par {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .btn--header {
    font-size: 2rem;
  }
}
@media (min-width: 1440px) {
  .nav {
    font-size: 1rem;
  }
  .header__main__sub-head {
    font-size: 1.75rem;
    letter-spacing: 4.72px;
  }
  .header__main__head {
    font-size: 9.375rem;
  }
  .header__main__par {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .btn--header {
    font-size: 2rem;
  }
}
.bg-home {
  background: url("../assets/home/background-home-mobile.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  transition: all 0.5s;
}

.bg-destination {
  background: url("../assets/destination/background-destination-mobile.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  transition: all 0.5s;
}

.bg-crew {
  background: url("../assets/crew/background-crew-mobile.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  transition: all 0.5s;
}

.bg-technology {
  background: url("../assets/technology/background-technology-mobile.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  transition: all 0.5s;
}

@media (min-width: 767px) {
  .bg-home {
    background: url("../assets/home/background-home-tablet.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .bg-destination {
    background: url("../assets/destination/background-destination-tablet.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .bg-crew {
    background: url("../assets/crew/background-crew-tablet.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .bg-technology {
    background: url("../assets/technology/background-technology-tablet.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}
@media (min-width: 1365px) {
  .bg-home {
    background: url("../assets/home/background-home-desktop.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .bg-destination {
    background: url("../assets/destination/background-destination-desktop.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .bg-crew {
    background: url("../assets/crew/background-crew-desktop.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .bg-technology {
    background: url("../assets/technology/background-technology-desktop.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}
.icon--logo {
  inline-size: 2.5rem;
  align-self: start;
  margin-inline-end: 3rem;
}
.icon--close {
  inline-size: 1.1931rem;
}
.icon--hamburger {
  inline-size: 1.5rem;
}

.btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
.btn--close {
  justify-self: end;
  margin: 2.1219rem 1.6531rem 0 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  inline-size: 100%;
  position: fixed;
  z-index: 100;
}
.nav__list {
  justify-self: start;
  display: grid;
  padding: 2rem 0 2rem 2rem;
  inline-size: 100%;
  gap: 2rem;
}
.nav__list__item {
  display: flex;
  gap: 0.75rem;
}
.nav .container {
  position: fixed;
  inset-inline-end: 0;
  inset-block-start: 0;
  min-height: 100vh;
  display: grid;
  grid-auto-rows: min-content;
  gap: 4.0594rem;
  inline-size: 67.73%;
}

@media (min-width: 768px) {
  .icon--logo {
    inline-size: 3rem;
    align-self: center;
  }
  .btn--close, .btn--menu {
    display: none;
  }
  .nav {
    padding: 0 0 0 2.4375rem;
    position: fixed;
  }
  .nav__list {
    justify-self: start;
    display: flex;
    padding: 2.5rem 3rem 0;
    gap: 2.3125rem;
    inline-size: initial;
  }
  .nav__list__item {
    display: flex;
    gap: 0.75rem;
    padding-block-end: 2.5rem;
  }
  .nav__list__item__number {
    display: none;
  }
  .nav .container {
    position: static;
    display: block;
    gap: 4.0594rem;
    inline-size: min-content;
    min-height: min-content;
  }
}
@media (min-width: 1366px) {
  .nav {
    margin-block-start: 2.5rem;
    padding: 0 0 0 3.4375rem;
  }
  .nav__list {
    padding: 2.5rem 10.3125rem 0 7.6875rem;
  }
  .nav__list__item {
    gap: 0.6875rem;
  }
  .nav__list__item__number {
    display: block;
  }
}
.header {
  text-align: center;
  padding: 3rem 1.5rem;
  display: grid;
  inline-size: 100%;
  justify-items: center;
  gap: 5.0625rem;
}
.header__main {
  inline-size: min(100%, 450px);
}

@media (min-width: 768px) {
  .header {
    padding-block-end: 5.625rem;
  }
}
@media (min-width: 1366px) {
  .header {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 10.3125rem 8.1875rem;
  }
}
.btn--header {
  inline-size: 9.375rem;
  block-size: 9.375rem;
  color: hsl(230, 35%, 7%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 100%;
  box-shadow: 0;
  transition: box-shadow 0.25s;
}
.btn--header:hover {
  box-shadow: 0px 0px 0px 2rem hsla(0, 0%, 100%, 0.104);
  -webkit-box-shadow: 0px 0px 0px 2rem hsla(0, 0%, 100%, 0.104);
  -moz-box-shadow: 0px 0px 0px 2rem hsla(0, 0%, 100%, 0.104);
}

@media (min-width: 767px) {
  .btn--header {
    inline-size: 15.125rem;
    block-size: 15.125rem;
  }
  .btn--header:hover {
    box-shadow: 0px 0px 0px 3rem hsla(0, 0%, 100%, 0.104);
    -webkit-box-shadow: 0px 0px 0px 3rem hsla(0, 0%, 100%, 0.104);
    -moz-box-shadow: 0px 0px 0px 3rem hsla(0, 0%, 100%, 0.104);
  }
}
@media (min-width: 1365px) {
  .btn--header {
    inline-size: 17.125rem;
    block-size: 17.125rem;
  }
  .btn--header:hover {
    box-shadow: 0px 0px 0px 4rem hsla(0, 0%, 100%, 0.104);
    -webkit-box-shadow: 0px 0px 0px 4rem hsla(0, 0%, 100%, 0.104);
    -moz-box-shadow: 0px 0px 0px 4rem hsla(0, 0%, 100%, 0.104);
  }
}
.nav__list__item {
  position: relative;
}
.nav__list__item .after {
  position: absolute;
  right: 0;
  inline-size: 0;
  block-size: 100%;
  top: 50%;
  bottom: 50%;
  transition: all 0.25s;
}
.nav__list__item.active .after {
  background-color: hsl(0, 0%, 100%);
  top: 0;
  bottom: 0;
  inline-size: 3px;
}
.nav__list__item:has(.nav__list__item__link:hover) .after {
  background-color: hsla(0, 0%, 100%, 0.505);
  top: 0;
  bottom: 0;
  inline-size: 3px;
}

@media (min-width: 768px) {
  .nav__list__item {
    position: relative;
  }
  .nav__list__item .after {
    position: absolute;
    block-size: 3px;
    left: 50%;
    right: 50%;
    top: initial;
    bottom: 0;
    inline-size: 0;
    transition: all 0.25s;
  }
  .nav__list__item.active .after {
    background-color: hsl(0, 0%, 100%);
    top: initial;
    left: 0;
    right: 0;
    inline-size: 100%;
  }
  .nav__list__item:has(.nav__list__item__link:hover) .after {
    background-color: hsla(0, 0%, 100%, 0.505);
    top: initial;
    left: 0;
    right: 0;
    inline-size: 100%;
  }
}
.destination__section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1.625rem;
}
.destination__section__image-wrapper {
  width: 10.625rem;
}

.tab-comp__nav__list {
  display: flex;
  justify-content: center;
  padding-block-end: 0.5rem;
  gap: 1.625rem;
}
.tab-comp__nav__list__item {
  padding-block-end: 0.5rem;
  position: relative;
}
.tab-comp__nav__list__item .after {
  position: absolute;
  block-size: 3px;
  left: 50%;
  right: 50%;
  top: initial;
  bottom: 0;
  inline-size: 0;
  transition: all 0.25s;
}
.tab-comp__nav__list__item.active .after {
  background-color: hsl(0, 0%, 100%);
  top: initial;
  left: 0;
  right: 0;
  inline-size: 100%;
}
.tab-comp__nav__list__item:has(.tab-comp__nav__list__item__link:hover) .after {
  background-color: hsla(0, 0%, 100%, 0.505);
  top: initial;
  left: 0;
  right: 0;
  inline-size: 100%;
}
.tab-comp__nav__list__item__link {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35px;
  color: hsl(231, 77%, 90%);
}
.tab-comp__main {
  padding-block: 1.25rem 2rem;
}
.tab-comp__main__heading {
  text-transform: uppercase;
  font-size: 3.5rem;
}
.tab-comp__main__par {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: hsl(231, 77%, 90%);
}
.tab-comp__section {
  padding-block-start: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.tab-comp__section__content {
  display: grid;
  gap: 0.75rem;
}
.tab-comp__section__content__heading {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}
.tab-comp__section__content__par {
  font-size: 1.75rem;
  text-transform: uppercase;
}

@media (min-width: 767px) {
  .destination__section {
    gap: 3.3125rem;
  }
  .destination__section__image-wrapper {
    width: 18.75rem;
  }
  .tab-comp {
    inline-size: min(100%, 35.8125rem);
  }
  .tab-comp__nav__list {
    gap: 2.25rem;
  }
  .tab-comp__nav__list__item {
    padding-block-end: 0.75rem;
  }
  .tab-comp__main__heading {
    font-size: 5rem;
  }
  .tab-comp__main__par {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1rem;
    color: hsl(231, 77%, 90%);
  }
  .tab-comp__section {
    justify-content: space-around;
    flex-direction: row;
  }
}
@media (min-width: 1365px) {
  .destination__section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .destination__section__image-wrapper {
    width: 27.8125rem;
  }
  .tab-comp {
    inline-size: min(100%, 27.8125rem);
    text-align: start;
  }
  .tab-comp__nav__list {
    justify-content: start;
  }
  .tab-comp__nav__list__item {
    padding-block-end: 0.75rem;
  }
  .tab-comp__main {
    padding-block: 2.3125rem 3.375rem;
  }
  .tab-comp__main__heading {
    font-size: 6.25rem;
  }
  .tab-comp__main__par {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  .tab-comp__section {
    padding-block-start: 1.75rem;
    justify-content: start;
  }
}
.crew__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.crew__section__image {
  inline-size: 11.07rem;
}
.crew__section__main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.crew__section__main__buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.crew__section__main__buttons__button {
  inline-size: 0.625rem;
  block-size: 0.625rem;
  background-color: hsla(0, 0%, 100%, 0.174);
  border-radius: 100%;
  transition: all 0.25s;
}
.crew__section__main__buttons__button:hover {
  background-color: hsla(0, 0%, 100%, 0.505);
}

.active--dot {
  background-color: hsl(0, 0%, 100%);
}

@media (min-width: 767px) {
  .crew__section {
    flex-direction: column-reverse;
    inline-size: min(100%, 28.625rem);
    margin-inline: auto;
    gap: 2.5rem;
  }
  .crew__section__main {
    flex-direction: column-reverse;
    gap: 2.5rem;
  }
  .crew__section__image {
    inline-size: 100%;
  }
  .crew__section__image-wrapper {
    position: relative;
    bottom: -1rem;
  }
}
@media (min-width: 1365px) {
  .crew__section {
    flex-direction: row-reverse;
    align-items: end;
    inline-size: 100%;
  }
  .crew__section__main {
    flex-basis: 100%;
    gap: 7.5rem;
    align-items: start;
    text-align: start;
    padding-block-end: 5.875rem;
  }
  .crew__section__main__buttons__button {
    inline-size: 0.9375rem;
    block-size: 0.9375rem;
  }
  .crew__section__image-wrapper {
    position: absolute;
    bottom: 0;
    right: 5.375rem;
  }
}
.tech__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.125rem;
}
.tech__section__image.desktop {
  display: none;
}
.tech__section__main .page__main {
  padding-inline: 1.5rem;
}
.tech__section__main .page__main__title {
  color: hsl(231, 77%, 90%);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
}
.tech__section__main .page__main__desc {
  inline-size: min(100%, 47ch);
  margin-inline: auto;
}
.tech__section__main__buttons {
  padding-block-end: 1.625rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.tech__section__main__buttons__button {
  letter-spacing: 1px;
  inline-size: 2.5rem;
  block-size: 2.5rem;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 0.25s;
}
.tech__section__main__buttons__button:hover {
  border-color: hsl(0, 0%, 100%);
}

.active--circle {
  background-color: hsl(0, 0%, 100%);
  color: hsl(230, 35%, 7%);
}

@media (min-width: 767px) {
  .tech__heading {
    padding-inline-start: 2.4063rem;
  }
  .tech__section__main .page__main__title {
    font-size: 1rem;
  }
  .tech__section__main .page__main__desc {
    line-height: 28px;
  }
}
@media (min-width: 1365px) {
  .tech__heading {
    padding-inline-start: 0;
  }
  .tech__section {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .tech__section__image.mobile {
    display: none;
  }
  .tech__section__image.desktop {
    display: block;
  }
  .tech__section__main {
    display: flex;
    gap: 5rem;
  }
  .tech__section__main .page__main {
    text-align: start;
    padding: 0;
  }
  .tech__section__main .page__main__desc {
    padding-block-start: 1rem;
    inline-size: 45ch;
    margin-inline: 0;
  }
  .tech__section__main__buttons {
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  .tech__section__main__buttons__button {
    inline-size: 5rem;
    block-size: 5rem;
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
