/* Box sizing, margin and padding rules*/
*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline-color: transparent;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 1px solid black;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-padding-block-start: 5rem;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

/* Set core body defaults */
body {
  min-block-size: 100vh;
  inline-size: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* prevents outline on pseudo classes on anchor links */
a {
  text-decoration: none;
  color: inherit;
}

a:focus,
a:visited,
a:active {
  outline-color: transparent;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons and prevent blue highlight box */
input,
button,
textarea,
select,
a {
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  outline: transparent;
}

body {
  background-color: hsl(230, 35%, 7%);
  background: url("../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: hsl(0, 0%, 100%);
  position: relative;
}

#app {
  padding-block-start: 5.5rem;
  min-height: 100vh;
}

#app:has(.header) {
  display: flex;
}

.hr {
  display: none;
}

.nav .container {
  background-color: hsla(0, 0%, 100%, 0.04);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  --webkit-backdrop-filter: blur(20px);
  transition: translate 0.5s;
}

.translate {
  translate: 100% 0;
}

@media (min-width: 768px) {
  body {
    position: static;
    background-color: hsl(230, 35%, 7%);
    background: url("../assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  #app {
    padding-block-start: 6.5rem;
  }
  .translate {
    translate: 0;
  }
}
@media (min-width: 1366px) {
  .hr {
    display: block;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.04);
    height: 1px;
  }
  body {
    background-color: hsl(230, 35%, 7%);
    background: url("../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}
.body {
  font-family: "Bellefair", serif;
}

.nav {
  font-family: "Barlow Condensed", sans-serif;
}
.nav__list__item {
  letter-spacing: 2.35px;
}
.nav__list__item__number {
  font-weight: 700;
}

.header__main__sub-head, .header__main__head {
  text-transform: uppercase;
}
.header__main__sub-head {
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35px;
  font-size: 1rem;
  color: hsl(231, 77%, 90%);
}
.header__main__head {
  font-size: 5rem;
  font-weight: 400;
}
.header__main__par {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
}

.btn--header {
  font-size: 1.25rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .nav {
    font-size: 0.875rem;
  }
  .header__main__sub-head {
    font-size: 1.25rem;
  }
  .header__main__head {
    font-size: 9.375rem;
  }
  .header__main__par {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .btn--header {
    font-size: 2rem;
  }
}
@media (min-width: 1440px) {
  .nav {
    font-size: 1rem;
  }
  .header__main__sub-head {
    font-size: 1.75rem;
    letter-spacing: 4.72px;
  }
  .header__main__head {
    font-size: 9.375rem;
  }
  .header__main__par {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .btn--header {
    font-size: 2rem;
  }
}
.icon--logo {
  inline-size: 2.5rem;
  align-self: start;
}
.icon--close {
  inline-size: 1.1931rem;
}
.icon--hamburger {
  inline-size: 1.5rem;
}

.btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
.btn--close {
  justify-self: end;
  margin: 2.1219rem 1.6531rem 0 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  inline-size: 100%;
  position: fixed;
  gap: 4rem;
}
.nav__list {
  justify-self: start;
  display: grid;
  padding: 2rem 0 2rem 2rem;
  inline-size: 100%;
  gap: 2rem;
}
.nav__list__item {
  display: flex;
  gap: 0.75rem;
}
.nav .container {
  position: fixed;
  inset-inline-end: 0;
  inset-block-start: 0;
  min-height: 100vh;
  display: grid;
  grid-auto-rows: min-content;
  gap: 4.0594rem;
  inline-size: 67.73%;
}

@media (min-width: 768px) {
  .icon--logo {
    inline-size: 3rem;
    align-self: center;
  }
  .btn--close, .btn--menu {
    display: none;
  }
  .nav {
    padding: 0 0 0 2.4375rem;
    position: fixed;
  }
  .nav__list {
    justify-self: start;
    display: flex;
    padding: 2.5rem 3rem 0;
    gap: 2.3125rem;
    inline-size: initial;
  }
  .nav__list__item {
    display: flex;
    gap: 0.75rem;
    padding-block-end: 2.5rem;
  }
  .nav__list__item__number {
    display: none;
  }
  .nav .container {
    position: static;
    display: block;
    gap: 4.0594rem;
    inline-size: min-content;
    min-height: min-content;
  }
}
@media (min-width: 1366px) {
  .nav {
    padding: 0 0 0 3.4375rem;
  }
  .nav__list {
    padding: 2.5rem 10.3125rem 0 7.6875rem;
  }
  .nav__list__item {
    gap: 0.6875rem;
  }
  .nav__list__item__number {
    display: block;
  }
}
.header {
  text-align: center;
  padding: 3rem 1.5rem;
  display: grid;
  inline-size: 100%;
  justify-items: center;
  gap: 5.0625rem;
}
.header__main {
  inline-size: min(100%, 450px);
}

@media (min-width: 768px) {
  .header {
    padding-block-end: 5.625rem;
  }
}
@media (min-width: 1366px) {
  .header {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 10.3125rem 8.1875rem;
  }
}
.btn--header {
  inline-size: 9.375rem;
  block-size: 9.375rem;
  color: hsl(230, 35%, 7%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 100%;
  box-shadow: 0;
  transition: box-shadow 0.25s;
}
.btn--header:hover {
  box-shadow: 0px 0px 0px 2rem hsla(0, 0%, 100%, 0.104);
  -webkit-box-shadow: 0px 0px 0px 2rem hsla(0, 0%, 100%, 0.104);
  -moz-box-shadow: 0px 0px 0px 2rem hsla(0, 0%, 100%, 0.104);
}

@media (min-width: 768px) {
  .btn--header {
    inline-size: 15.125rem;
    block-size: 15.125rem;
  }
  .btn--header:hover {
    box-shadow: 0px 0px 0px 3rem hsla(0, 0%, 100%, 0.104);
    -webkit-box-shadow: 0px 0px 0px 3rem hsla(0, 0%, 100%, 0.104);
    -moz-box-shadow: 0px 0px 0px 3rem hsla(0, 0%, 100%, 0.104);
  }
}
@media (min-width: 1366px) {
  .btn--header {
    inline-size: 17.125rem;
    block-size: 17.125rem;
  }
  .btn--header:hover {
    box-shadow: 0px 0px 0px 4rem hsla(0, 0%, 100%, 0.104);
    -webkit-box-shadow: 0px 0px 0px 4rem hsla(0, 0%, 100%, 0.104);
    -moz-box-shadow: 0px 0px 0px 4rem hsla(0, 0%, 100%, 0.104);
  }
}
.nav__list__item {
  position: relative;
}
.nav__list__item .after {
  position: absolute;
  right: 0;
  inline-size: 0;
  block-size: 100%;
  top: 50%;
  bottom: 50%;
  transition: all 0.25s;
}
.nav__list__item.active .after {
  background-color: hsl(0, 0%, 100%);
  top: 0;
  bottom: 0;
  inline-size: 3px;
}
.nav__list__item:has(.nav__list__item__link:hover) .after {
  background-color: hsla(0, 0%, 100%, 0.505);
  top: 0;
  bottom: 0;
  inline-size: 3px;
}

@media (min-width: 768px) {
  .nav__list__item {
    position: relative;
  }
  .nav__list__item .after {
    position: absolute;
    block-size: 3px;
    left: 50%;
    right: 50%;
    top: initial;
    bottom: 0;
    inline-size: 0;
    transition: all 0.25s;
  }
  .nav__list__item.active .after {
    background-color: hsl(0, 0%, 100%);
    top: initial;
    left: 0;
    right: 0;
    inline-size: 100%;
  }
  .nav__list__item:has(.nav__list__item__link:hover) .after {
    background-color: hsla(0, 0%, 100%, 0.505);
    top: initial;
    left: 0;
    right: 0;
    inline-size: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
