@mixin btn() {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

@mixin transition($property, $duration: 0.25s) {
  transition: $property $duration;
}

@mixin backgroundChange($url) {
  background: $url;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
